{% extends 'base_site.html' %}
{% load static %}
{% block title %}
    专科分数线查询
{% endblock %}

{% block link %}

{% endblock %}

{% block style %}
    <style>
        .round-xz {
            background-color: #2b5be9;
            border-radius: 20px;
        }

        .round-xz-mb {
            background-color: #e92b2b;
            border-radius: 20px;
        }
    </style>

{% endblock %}

{% block con %}
    <div class="content ">
        <div class="cx-card p-5 mt-3">
            {% csrf_token %}
            <input type="hidden" name="zhuan_ben" value="专科">
            <div class="row">
                <div class="col-6 d-grid">
                    <button id="anxuexiaosou" class="btn btn-primary btn-block btn-bg">按学校搜</button>
                </div>
                <div class="col-6 d-grid">
                    <button id="anzhuanyesou" class="btn btn-light btn-block btn-bg">按专业搜</button>
                </div>
            </div>
            <div class="mt-3 d-grid">
                <label class="me-2 mb-2 mt-2">年份:
                    <select name="nianfen" class="form-select d-block me-2 mb-2 mt-2">
                        {% if nian %}
                            {% for elem in nian %}
                                <option value="{{ elem }}">{{ elem }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </label>
            </div>
            <div class="mt-3">
                <label class="me-2">办学性质:
                    {% if banxuexingzhi %}
                        {% for elem in banxuexingzhi %}
                            <div class="form-check form-check-inline">
                                <input name="banxuexingzhi" class="form-check-input" type="checkbox" value="{{ elem }}">
                                <label class="form-check-label">{{ elem }}</label>
                            </div>
                        {% endfor %}
                    {% endif %}
                </label>
            </div>
{#            <div class="mt-3 d-grid">#}
{#                <label class="me-2">#}
{#                    专业类别:#}
{#                    <select class="form-select d-block me-2 mb-2 mt-2" name="zhuanyeleibie">#}
{#                        {% if zhuanyeleibie %}#}
{#                            {% for elem in zhuanyeleibie %}#}
{#                                <option value="{{ elem }}">{{ elem }}</option>#}
{#                            {% endfor %}#}
{#                        {% endif %}#}
{#                    </select>#}
{#                </label>#}
{#            </div>#}
            <div id="fenshu" type="number" class="mt-3 d-grid">
                <label>
                    <input type="number" name="fenshu" class="form-control d-block"
                           placeholder="请输入分数">
                </label>
            </div>
            <div id="weici" class="mt-3 d-grid">
                <label>
                    <input type="number" name="weici" class="form-control d-block"
                           placeholder="请输入位次">
                </label>
            </div>
            <div id="xuexiaomode" class="mt-3 d-grid">
                <label>
                    <input type="text" name="xuexiaomingcheng" class="form-control d-block"
                           placeholder="请输入学校名称">
                </label>
            </div>
            <div id="zhuanyemode" class="mt-3 d-grid">
                <label>
                    <input type="text" name="zhuanyemingcheng" class="form-control d-block"
                           placeholder="请输入专业名称">
                </label>
            </div>
            <div class="mt-3 d-grid">
                <button id="submit_btn" class="btn btn-primary d-block btn-bg text-white">查询
                    <span id="submit_btn_load" class="spinner-border spinner-border-sm d-none"></span></button>
            </div>
        </div>

        <div id="result-container" class="mt-3">

        </div>
    </div>
{% endblock %}


{% block script %}
    <script src="{% static 'js/query_fenshuxian_process.js' %}"></script>
{% endblock %}