{% extends 'query/base_site.html' %}

{% block title %}
    倒计时
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="/static/css/day.css" type="text/css"/>
{% endblock %}

{% block style %}
    <style>
    #container{
    max-width: 680px;
    }
    </style>

{% endblock %}
{% block con %}
<div class=" " style="">
        <h2 class="day-title h2 mt-2 justify-content-center align-content-center">aaa</h2>
        {% for d in day %}
            <div class="cx-card p-3 mt-1 d-flex flex-row justify-content-between">
                <div class="">
                    <div><h3 class="h3">{{ d.name }}还有</h3></div>
                    <div class="small blockquote-footer mt-1 mb-0">{{ d.beizhu }}</div>
                </div>
                <div class="align-self-center p-2 px-3 text-white countdown"
                     data-time="{{ d.day|date:"Y-m-d H:i:s" }}"></div>
            </div>
        {% endfor %}

    </div>
{% endblock %}


{% block script %}
<script src="/static/js/days.js"></script>
{% endblock %}

